<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="InstalledApplications" value="Frapid, Frapid.Account, Frapid.Authorization, Frapid.Config, Frapid.Core, Frapid.Dashboard, Frapid.WebsiteBuilder, MixERP.Finance, MixERP.Inventory, MixERP.Sales, MixERP.Purchases, MixERP.HRM" />
    <add key="RemovedApplications" value="" />
    <add key="IgnoredApplications" value="" />
  </appSettings>
</configuration>