<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MyAllowedResources" value=".png,.bmp,.svg,.jpg,.jpeg,.gif,.css,.js,.json,.html" />
    <add key="AllowedUploadExtensions" value=".png,.bmp,.svg,.jpg,.jpeg,.gif,.css,.js,.json,.html,.pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx" />
    <add key="AllowedImages" value=".png,.bmp,.jpg,.jpeg,.gif" />
	<add key="StaticResources" value=".png,.bmp,.svg,.jpg,.jpeg,.gif,.css,.js,.json,.html,.htm,.xml,.ico,.json,.zip" />
  </appSettings>
</configuration>