<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ThemeName" value="frapid" />
    <add key="Description" value="" />
    <add key="Author" value="Frapid" />
    <add key="AuthorUrl" value="http://frapid.com" />
    <add key="AuthorEmail" value="info@frapid.com" />
    <add key="ConvertedBy" value="N/A" />
    <add key="ReleasedOn" value="16 December 2015" />
    <add key="Version" value="1.0" />
    <add key="Category" value="Corporate &amp; Business" />
    <add key="Responsive" value="Yes" />
    <add key="Framework" value="Semantic UI" />
    <add key="Tags" value="business, corporate" />
    <add key="LayoutFile" value="Layout.cshtml" />
  </appSettings>
</configuration>