    <div class="ui theme selector right floating dropdown labeled item hidden on mobile">
      <i class="theme icon"></i>
      <span class="text">Change Theme</span>
      <div class="menu">
        <div class="ui icon search input">
          <i class="search icon"></i>
          <input placeholder="" type="text">
        </div>
        <div class="divider"></div>
        <div class="header">
          <i class="theme icon"></i>
          Select Theme
        </div>
        <div class="scrolling menu">
        </div>
      </div>
    </div>
