.hg
.ignored
bin
obj
*.pdb
*.suo
*.user
.my
src/Frapid.Web/Backups/
src/Frapid.Web/favicon
src/Frapid.Web/Tenants/
src/Frapid.Web/Resources/
DomainsInstalled.json
src/Frapid.Web/Areas/MixERP.Forums/
src/Frapid.Web/Areas/MixERP.Helpdesk/
src/Frapid.Web/Areas/MixERP.CRM/
src/Frapid.Web/Areas/MixERP.Payments/
src/Frapid.Web/Areas/Frapid.Forms/
src/Frapid.Web/Areas/MixERP.Calendar/
src/Frapid.Web/logo.png
src/Frapid.Web/logo-inverted.png
src/Frapid.Web/images/
src/Frapid.Web/Areas/MixERP.Production/
src/Frapid.Web/Areas/MixERP.Payroll/
src/Frapid.Web/Areas/MixERP.HRM/
src/Frapid.Web/Areas/MixERP.Finance/
src/Frapid.Web/Areas/MixERP.Sales/
src/Frapid.Web/Areas/MixERP.Purchase/
src/Frapid.Web/Areas/MixERP.Inventory/
src/Frapid.Web/Areas/MixERP.BackOffice/
src/Frapid.Web/Areas/CineSys/
src/Frapid.Web/Areas/CineSys.FoodCourt/
src/Frapid.Web/Areas/CineSys.GateKeeper/
src/Frapid.Web/Areas/Frapid.RecoveryManager/
src/Frapid.Web/Areas/Frapid.POS/
src/Frapid.Web/Areas/MixERP.Inventory/
src/Frapid.Web/Areas/MixERP.Purchases/
src/Frapid.Web/Areas/MixERP.Sales/
src/Frapid.Web/Reports/
src/Frapid.Web/Areas/Frapid.CafeSys/
src/Frapid.Web/Areas/MixERP.CountryPacks.Nepal/
/src/Frapid.Web/Areas/Frapid.CafeSys
/src/Frapid.Web/Areas/MixERP.CountryPacks.Nepal
/src/Frapid.Web/Areas/Frapid.Customizations
/src/Frapid.Web/Areas/MixERP.EmployeePortal
.vs
