@model dynamic

@{
    ViewBag.Title = I18N.ConfigurationProfiles;
    Layout = ViewBag.Layout;
}
<script>
    var scrudFactory = new Object();

    scrudFactory.title = window.translate("ConfigurationProfiles");

    scrudFactory.viewAPI = "/api/views/account/configuration-profile-scrud-view";
    scrudFactory.viewTableName = "account.configuration_profile_scrud_view";

    scrudFactory.formAPI = "/api/forms/account/configuration-profiles";
    scrudFactory.formTableName = "account.configuration_profiles";

    scrudFactory.excludedColumns = ["AuditUserId", "AuditTs", "Deleted"];


    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    scrudFactory.live = "ProfileName";

    scrudFactory.card = {
        header: "ProfileName",
        meta: "DefultRole",
        description: "DefaultOffice"
    };

    scrudFactory.keys = [
        {
            property: "RegistrationOfficeId",
            url: '/api/forms/core/offices/display-fields',
            data: null,
            valueField: "Key",
            textField: "Value"
        },
        {
            property: "RegistrationRoleId",
            url: '/api/forms/account/roles/display-fields',
            data: null,
            valueField: "Key",
            textField: "Value"
        }
    ];

    $.get('/ScrudFactory/View.html', function (view) {
        $.get('/ScrudFactory/Form.html', function (form) {
            $("#ScrudFactoryView").html(view);
            $("#ScrudFactoryForm").html(form);
            $.cachedScript("/assets/js/scrudfactory-view.js");
            $.cachedScript("/assets/js/scrudfactory-form.js");
        });
    });

    $(document).on("viewready", function() {
        const rows = $("#ScrudView tbody tr").length;

        if (rows) {
            $("#AddNewButton").remove();
        };
    });
</script>

<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>