<div class="ui small modal" id="FileModal">
    <i class="close icon"></i>
    <div class="header">
        @I18N.CreateANewFile
    </div>
    <div class="content">
        <div class="ui padded form">
            <div class="field">
                <label>@I18N.Location</label>
                <div class="ui container label" data-container=""></div>
            </div>
            <div class="field">
                <label>@I18N.FileName</label>
                <input type="text" />
            </div>
            <button class="ui button" onclick="createFile(this);">@I18N.Create</button>
        </div>
    </div>
</div>