<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DefaultTheme" value="frapid" />
	<add key="WebsiteTitle" value="Frapid" />
	<add key="BlogTitle" value="Frapid Blog" />
	<add key="WebsiteDescription" value="Frapid Blog RSS Feed" />
	<add key="RssTtl" value="60" />
	<add key="RssCopyrightText" value="Copyright 2016 MixERP Inc." />
	<add key="RssPageSize" value="25" />
  </appSettings>
</configuration>