<footer class="ui attached inverted segment">
    <div class="ui container">
        <div class="ui stackable two column grid">
            <div class="column">
                <div class="footer">
                &copy; 2015 Your Company. Powered by <a href="http://frapid.com">Frapid Framework</a>.
                </div>
            </div>
            <div class="right aligned column">
                <a href="/site/legal/terms-of-use">Terms of Use</a>
                /
                <a href="/site/legal/privacy-policy">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
