@model dynamic

@{
    ViewBag.Title = I18N.RoleManagement;
    Layout = ViewBag.Layout;
}
<script>
    var scrudFactory = new Object();

    scrudFactory.title = window.translate("RoleManagement");

    scrudFactory.viewAPI = "/api/forms/account/roles";
    scrudFactory.viewTableName = "account.roles";

    scrudFactory.formAPI = "/api/forms/account/roles";
    scrudFactory.formTableName = "account.roles";

    scrudFactory.excludedColumns = ["AuditUserId", "AuditTs", "Deleted"];


    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    scrudFactory.live = "RoleName";
    
    $.get('/ScrudFactory/View.html', function (view) {
        $.get('/ScrudFactory/Form.html', function (form) {
            $("#ScrudFactoryView").html(view);
            $("#ScrudFactoryForm").html(form);
            $.cachedScript("/assets/js/scrudfactory-view.js");
            $.cachedScript("/assets/js/scrudfactory-form.js");
        });
    });

    scrudFactory.card = {
        header: "RoleName"
    };


</script>

<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>