@using Frapid.i18n

@{
    ViewBag.Title = I18N.ResetEmailSent;
    Layout = ViewBag.LayoutPath + ViewBag.Layout;
}
@if (CultureManager.IsRtl())
{
    <link rel="Stylesheet" href="@Href("~/assets/css/backend.rtl.css")" />
}
else
{
    <link rel="Stylesheet" href="@Href("~/assets/css/backend.css")" />
}

<div class="ui attached padded signup left aligned segment">
    <div class="ui container">
        <div class="ui header">@I18N.ResetEmailSent</div>
        <div class="ui divider"></div>
        @Html.Raw(I18N.ResetEmailSentMessage)
        <a href="/" class="ui small padded purple button">Return Home</a>
    </div>
</div>
